# It's not recommended to modify this file in-place, because it will be
# overwritten during package upgrades.  If you want to customize, the
# best way is to create a file "/etc/systemd/system/php-fpm.service".

[Unit]
Description=The PHP 7.0 FastCGI Process Manager
After=syslog.target network.target systemd-tmpfiles-setup.service
Before=lighttpd.service

[Service]
Type=notify
PIDFile=/run/php-fpm@PHPVER@.pid
EnvironmentFile=/etc/sysconfig/php-fpm@PHPVER@
ExecStart=/usr/sbin/php-fpm@PHPVER@ --nodaemonize --allow-to-run-as-root
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target

